.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.container h2 {
  text-transform: uppercase;
  color: var(--main-orange);
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.products {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 80%;
}

@media (min-width: 650px) {
  .products{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .products{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1250px) {
  .products{
    grid-template-columns: repeat(4, 1fr);
    width: 70%;
  }
}